/* src/componentes/Header/Header.css */

header {
  display: flex;
  justify-content: space-between; /* Alinha o título e o botão 'Sair' nas extremidades */
  align-items: center;
  padding: 15px 25px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
}

header h1 {
  margin: 0; 
  font-size: 22px;
  color: #333;
}

.header-nav a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: #0056b3;
}