.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.login-container h2 {
  color: #333;
  margin-bottom: 25px;
  font-size: 24px;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;

  background-color: #999; /* Exemplo de um cinza claro */
  transition: background-color 0.3s;
}

.login-container input:focus {
  outline: none;
  border-color: #007bff;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0056b3;
}

/* Container para o campo de senha e o botão de exibição */
.password-input-container {
  /* Use Flexbox para alinhar os itens horizontalmente */
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  width: 100%;
  margin-bottom: 20px; /* Adiciona o espaçamento abaixo do container */
}

/* O input dentro do container */
.password-input-container input {
  /* Faz o input ocupar todo o espaço disponível */
  flex-grow: 1; 
  /* Adiciona um pequeno espaço entre o input e o botão */
  margin-right: 10px; 
  /* Remove a margem de baixo para evitar espaçamento duplo */
  margin-bottom: 0;

  padding: 14px 12px; /* Ajusta o padding para acomodar o botão */

  /* Use um flex-shrink de 0 para que o botão nunca diminua */
  flex-shrink: 0;

}

/* Estilo para o botão de exibir/ocultar senha */
.password-toggle {

  /* Defina um tamanho fixo para o botão */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Remove todas as regras de posicionamento */
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
}